Hi #{buyer_username},

Your purchase #{Listing} from #{buyer_username} has failed. This may be due to the seller #{seller_username} not having updated their PayPal settings. We have sent an email to #{seller_username} advising them of this, and asked them to message you once the issue has been resolved. 

Thank you for your patience.
<br>
KickMarket Crew.
